@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  margin: 0;
}
section {
  text-align: center;
  background-color: khaki;
  height: 80vh;
  width: 100%;
}
section div {
  width: 40%;
  margin: 0 auto;
}
.button {
  height: 8vh;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myButton {
  box-shadow: 0px 1px 0px 0px #1c1b18;
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 15px;
  border: 2px solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #6b0f0f;
  font-family: "Press Start 2P", cursive;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}
.myButton:active {
  position: relative;
  top: 1px;
}
.myButton i {
  font-size: 1.3rem;
}

header {
  height: 15vh;
  width: 100%;
  background-color: black;
  border-bottom: 1vh solid tan;
}
header h1 {
  color: tan;
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
footer {
  height: 3vh;
  background-color: black;
  border-top: 1vh solid tan;
  width: 100%;
}
section div img {
  height: auto;
  border-radius: 3px;
  width: 100%;
  box-shadow: 5px 5px 23px 0px rgba(0, 0, 0, 0.67);
}
.kit i {
  position: fixed;
  color: #000000;
  font-size: 2rem;
}
#helmet-icon {
  top: 31vh;
  left: 11vw;
}
#headset-icon {
  top: 50vh;
  left: 11vw;
}
#shield-icon {
  top: 69.5vh;
  left: 11vw;
}
#rifle-icon {
  position: fixed;
  top: 83vh;
  left: 11vw;
}
#armor,
#armor img {
  max-height: 156px;
}
#weapon,
#weapon img {
  max-height: 60px;
  margin-top: 0.5vh;
}
